<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Novel</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
 
    <ion-button (click)="goNext()">
    <ion-icon name="arrow-forward-outline" ></ion-icon>
   
    </ion-button>

   


  <ion-slides [pager]="true" [pager]="true" #mainslides>
    <ion-slide *ngFor="let slide of onbordslide" >
    <ion-card >
      <ion-card-header>
        {{slide.description}}
      </ion-card-header>
    
      <ion-card-content>
        <img src="../../assets/img/{{slide.img}}.png" alt="">
      
      </ion-card-content>
    </ion-card>


    

     
    </ion-slide>
    
  </ion-slides>
  <ion-button (click)="goBack()" >
    <ion-icon name="arrow-back-outline" ></ion-icon>
</ion-button>

<div class="resetLink">
  <a routerLink="/login">Login</a>
</div>
  </div>
</ion-content>
