form{
    font-size: large;
    //color: #85144b;
    margin-top: 1cm;
    margin-left: 1cm;

    background-color: white;
}

ion-button
{
   margin-left: 2cm; 
   margin-bottom: 0.1cm;
   margin-top: 0.2cm;

   
}
ion-icon
{
    width:3cm;
    height:1cm;
    background-color:white;
    color: #ff88ff;
}

a
{
    margin-left: 1.5cm;
  
}